td.nome { 
    width: 33%;
    text-align: left;
}

td.permissao { 
    width: 25%;
    text-align: left;
}

td.ativarconta { 
    width: 25%;
    text-align: left;
}

td.editar { 
    width: 3%;
    text-align: center;
}

.grid .receita {
    color: #0000ff;
}

.grid .despesa {
    color: #c23030;
}

