<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN" "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
  <session-factory>
    <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
    <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
    <property name="hibernate.connection.url">jdbc:mysql://localhost:3306/nte?zeroDateTimeBehavior=convertToNull</property>
    <property name="hibernate.connection.username">nte</property>
    <property name="hibernate.connection.password">nte</property>
    <property name="show_sql">true</property>
    <property name="format_sql">true</property>
    <mapping class="cac.db.AtivarConta"/>
    <mapping class="cac.db.Chamado"/>
    <mapping class="cac.db.Cidade"/>
    <mapping class="cac.db.Escola"/>
    <mapping class="cac.db.Funcao"/>
    <mapping class="cac.db.Laboratorio"/>
    <mapping class="cac.db.Parecer"/>
    <mapping class="cac.db.Permissao"/>
    <mapping class="cac.db.Pregao"/>
    <mapping class="cac.db.Regional"/>
    <mapping class="cac.db.Setor"/>
    <mapping class="cac.db.Status"/>
    <mapping class="cac.db.Usuario"/>
  </session-factory>
</hibernate-configuration>
